.requests-slider-btn{
    padding: 1em;
    background: transparent;
    margin-right: .5em;
    transition: 50ms ease-in-out;
}
.requests-slider-btn:active{
    background: var(--ion-color-light-tint);
}
.notifications{
    background: orange;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    left: 15px;
    top: 3px;
}
.no-items{
    text-align: center;
    font-size: 1.2em;
    max-width: 75%;
    margin: 1.2em auto;
}