.item-type-title{
    margin-left:.4em;
    color: var(--ion-color-primary);
    font-size: 1.4rem;
}
.menu{
    color:var(--ion-color-primary);
    font-weight: bold;
    padding-left: .4em;
}

.header-btn{
    padding: .5em;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.qr-btn{
    margin-right: .5em;
}
.extra-small{
    font-size: .7em;
    text-align: center;
    margin: 0;
    margin-top: .2em;
    margin-bottom: -.4em;
    color: var(--ion-color-dark);
}

