.item-type-title{
    margin-left:.4em;
    color: purple;
    font-size: 1.4rem;
}
.menu{
    color:purple;
    font-weight: bold;
    padding-left: .4em;
}
.scan{
    padding: 1em;
}
.qrcode{
    color: red;
    font-weight: bold;
    font-size: 1em;
}