.item-wrapper{
    width: 95%;
    min-height: fit-content;
    margin: .2em auto;
    background: rgba(255, 237, 255, 0.419);
    border-radius: 10px;
}
.item-topline{
    display: flex;
    justify-content: space-between;
}
.item-name{
    font-size: 1.2rem;
    margin-top: .5em;
    margin-left: .5em;
}
.item-price{
    font-size: 1.2rem;
    margin-top: .5em;
    margin-right: .5em;
}
.item-desc{
    font-size: .75rem;
    margin-left: .5em;
    margin-top:0;
}