.item-wrapper{
    width: 95%;
    min-height: fit-content;
    margin: .2em auto;
    background: var(--ion-color-secondary);
    border-radius: 10px;
    padding: .5em;
    transition: ease-in-out 25ms;
}
.item-topline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-name{
    font-size: .9em;
    font-weight: 500;
    margin: 0;
}
.item-price{
    font-size: 1rem;
    margin: 0;
    min-width: 2em;
    text-align: right;
}
.item-price > span{
    font-size: 1.2em;
    font-weight: 600;
    color: var(--ion-color-primary)
}
.item-desc{
    font-size: .7rem;
    margin: 0;
    margin-top: .5em;
}
.controls-wrapper{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 1em;

}
.control-btn{
    background: var(--ion-color-primary);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    min-height: 30px;
    padding: .5em;
    margin: -.5em 1em;
}
.increment{
    margin-right: 0;
}