.body{
    scroll-behavior: smooth;
}
.register-form{
    position: absolute;
    min-width: 90%;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-input{
    padding-top: 1em;
    width: 90%;
    margin: .6em auto;
    border: none;
    border-bottom: solid 2px var(--ion-color-primary);
    background-color: transparent;
}
.form-input::placeholder{
    color: var(--ion-color-primary);
}
.form-input:focus{
    outline: none;
    caret-color: var(--ion-color-primary);
    transition: ease-in 100ms;
    border-bottom-color: var(--ion-color-tertiary);
}
.register-buttons{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    min-width: 50%;
}
.register-btn{
    padding: 1em;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
    transition: ease-in 100ms;
}
.register-btn:active{
    background-color: var(--ion-color-tertiary);
}
.goto-login-btn{
    padding: 1em;
    background-color: var(--ion-color-light);
    color: var(--ion-color-primary);
    border-bottom: 2px solid var(--ion-color-primary);
}
.goto-login-btn:active{
    transition: ease-in 100ms;
    border-bottom-color: var(--ion-color-tertiary);
    color: var(--ion-color-tertiary);
}
.decorative-rect{
    position: fixed;
    left: -50px;
    width: 150%;
    height: 400px;
    top: calc(100% - 100px);
    background-color: var(--ion-color-primary);
    transform: rotate(-25deg);
    transition: ease-in-out 250ms;
}



@media (prefers-color-scheme: dark) {
    .form-input{
        border-bottom: solid 2px var(--ion-color-secondary);
        background-color: transparent;
        color: var(--ion-color-dark-shade)
    }
    .form-input::placeholder{
        color: var(--ion-color-medium-shade);
    }
    .form-input:focus{
        caret-color: var(--ion-color-secondary);
        border-bottom-color: var(--ion-color-primary);
    }
    .register-btn{
        background-color: var(--ion-color-secondary);
        color: var(--ion-color-dark);
    }
    .register-btn:active{
        background-color: var(--ion-color-primary);
    }
    .goto-login-btn{
        color: var(--ion-color-dark-shade);
        border-bottom: 2px solid var(--ion-color-secondary);
    }
    .goto-login-btn:active{
        border-bottom-color: var(--ion-color-primary);
        color: var(--ion-color-dark);
    }
    .decorative-rect{
        background-color: var(--ion-color-secondary);
        transform: rotate(335deg);
    }

}